<div> 
    <div>
        <div>
            <h1 class="title">Pagamentos</h1>
        </div>
            <div class="card">
                <div class="container">
                    <h2>Pagamento por PIX</h2>
                    <div class="pix">
                        <img src="../../../assets/images/pix.png">
                    </div>
                    <h4>PIX: felipe.guerrera@hotmail.com</h4>
                    <h4>PIX: </h4>
                    <br>
                    <h4>Depósito Bancário: 0141116-0 Agência: 3733 Bradesco</h4>
            </div>
        </div>
    </div>
</div>
