<div> 
    <div>
        <div>
            <div style="height: 100px;" class="card d-flex align-items-center justify-content-center">
                <h1 class="title">PAGAMENTOS</h1>
            </div>
        </div>
            <div class="card">
                <div class="container">
                    <h2>Pagamento por PIX</h2>
                    <div class="pix">
                        <img src="../../../assets/images/pix.png">
                    </div>
                    <h4>PIX: felipe.guerrera@hotmail.com</h4>
                    <h4>PIX: 1699153088</h4>
                    <br>
                    <h4>Depósito Bancário: 0141116-0 Agência: 3733 Bradesco</h4>
            </div>
        </div>
    </div>
</div>
