<div > 
    <div>
            <div class="card">

                <div class="circle" style="right: -615px;">
                    <img src="https://i.stack.imgur.com/atUuf.png">
                </div>
                
                <div class="container">
                    <h2 class="mt-2 mb-0">Perfil do Personal</h2>
                    <h4 class="mt-2 mb-0">Professor Rileira</h4>
                    <br>
                    <h2 class="mt-2 mb-0">Métodos de pagamento</h2>
                    <h4 class="mt-2 mb-0">PIX: felipe.guerrera@hotmail.com</h4>
                    <h4 class="mt-2 mb-0">PIX: </h4>
                    <br>
                    <h2 class="mt-2 mb-0">Meios de contato</h2>
                    <h4 class="mt-2 mb-0">Telefone: (16)99230-3711</h4>
                    <h4 class="mt-2 mb-0">Telefone: </h4>
            </div>
        </div>
    </div>
</div>