<div > 
    <div>
        <div>
            <h1 class="title">Perfil</h1>
        </div>
            <div class="card">
                <div class="circle">
                    <img src="https://i.stack.imgur.com/atUuf.png">
                </div>
                
                <div class="container">
                    <h4>Professor Rileira</h4>
                    <br>
                    <h2>Métodos de pagamento</h2>
                    <h4>PIX: felipe.guerrera@hotmail.com</h4>
                    <h4>PIX: </h4>
                    <br>
                    <h2>Meios de contato</h2>
                    <h4>Telefone: (16)99230-3711</h4>
                    <h4>Telefone: </h4>
            </div>
        </div>
    </div>
</div>