<div> 
    <div>
        <div>
            <div style="height: 100px;" class="card d-flex align-items-center justify-content-center">
                <h1 class="title">PERFIL</h1>
            </div>
        </div>
            <div class="card">
                <div class="circle">
                    <img src="https://i.stack.imgur.com/atUuf.png">
                </div>
                
                <div class="container">
                    <h4>Professor Rileira</h4>
                    <br>
                    <h2>Meios de contato</h2>
                    <h4>Telefone: (16)99230-3711</h4>
                    <h4>Telefone: (16)99115-3088</h4>
                    <h4>Email: felipe.guerrera@hotmail.com</h4>
                    <h4>Email: lucasriul85@icloud.com</h4>
                    <br>
                    <h2>Graduado na Universidade de Ribeirão Preto em Educação Física</h2>
            </div>
        </div>
    </div>
</div>