<div style="height: 100px;" class="card d-flex align-items-center justify-content-center">
    <h1 class="title">TREINOS</h1>
</div>
    <div class="card">
        <div class="container">
            <h2>Treinos Superiores</h2>
    </div>
    <br>
        <ul>
            <li>
               <img class="size" src="../../../assets/images/supino com barra.jpg">
               <h4 class="container">Supino com barra</h4>
           </li>
           <li>
               <img class="size" src="../../../assets/images/supino com halteres.jpg">
               <h4 class="container">Supino com halteres</h4>
           </li>
           <li>
            <img class="size" src="../../../assets/images/Remada aberta.png">
            <h4 class="container">Remada aberta</h4>
        </li>
        <li>
            <img class="size" src="../../../assets/images/elevação lateral com halter.jpg">
            <h4 class="container">Elevação lateral com halter</h4>
        </li>
        <li>
            <img class="size" src="../../../assets/images/triceps pulley.jpg">
            <h4 class="container">Tríceps Pulley</h4>
        </li>
        <li>
            <img class="size" src="../../../assets/images/Wide grip.png">
            <h4 class="container">Wide-Grip</h4>
        </li>
        <li>
            <img class="size" src="../../../assets/images/Lat pulldown.png">
            <h4 class="container">Lat-Pulldown</h4>
        </li>
        <li>
            <img class="size" src="../../../assets/images/peck deck.png">
            <h4 class="container">Peck-Deck</h4>
        </li>
       </ul>
    </div>